.desc-text {
  color: #c4c3c3;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  text-decoration: none;
  
}

.desc-title {
  color: #fff;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  text-decoration: none;
}

.image-projects {
  width: 50%;
  padding-left: 25%;
  padding-top: 12px;
}

.image-projects-weird-one {
  width: 100%;
  padding-top: 12px;
}