.desc {
  padding-bottom: 2.5%;
}

.desc-text {
  color: #c4c3c3;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  text-decoration: none;
  
}

.desc-title {
  color: #fff;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  text-decoration: none;
}

.email-inputs {
  padding-bottom: 10%;
}

.email-inputs form label.text {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  text-decoration: none;
}

.email-inputs form input,
.email-inputs form textarea {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #a08282;
  border-radius: 4px;
  margin-left: 25%;
}

.button {
  padding: 10px;
  padding-top: 10px;
  margin-left: 25%;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.pLeft-25 {
  padding-left: 25%;
}

.pLeft {
  padding-left: 31%;
}